@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 129, 47, 245;
    --color-accent-light: 166, 108, 245;
    --color-accent-yellow: 253, 223, 71;
    --color-accent-green: 131, 204, 22;
    --color-background: 62, 76, 99;
    --color-background-glow: 5, 245, 225;
    --color-background-light: 102, 118, 145;
    --color-background-lightest: 166, 188, 222;
    --color-foreground: 255, 255, 255;
    --color-foreground-button: 255, 255, 255;
    --color-foreground-alt-100: 224, 225, 226;
    --color-foreground-alt-200: 192, 196, 197;
    --color-foreground-alt-300: 134, 148, 152;
    --color-foreground-alt-400: 43, 56, 59;
    --color-foreground-alt-500: 31, 45, 48;
    --color-primary: 0, 80, 209;
    --color-primary-light: 56, 131, 252;
    --color-primary-dark: 1, 42, 107;
  }
}
